In [1]:
# importing libraries

import numpy as np
import pandas as pd
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
# reading csv file
df = pd.read_csv('preprocessed_housePrice.csv', header=0)
df.head()

,price,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,parks,Sold,avg_dist,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River
0,24.0,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.19200,23,0.049347,0,4.0875,1,0,0,1
1,21.6,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.17280,42,0.046146,1,4.9675,0,1,0,0
2,34.7,37.07,0.469,7.185,61.1,22.2,4.03,7.394,46.19856,38,0.045764,0,4.9675,0,0,0,0
3,33.4,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.26720,45,0.047151,0,6.0650,1,1,0,0
4,36.2,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.28960,55,0.039474,0,6.0625,0,1,0,0

In [30]:
# importing Linear Regression
from sklearn.linear_model import LogisticRegression

In [31]:
lm = LogisticRegression()

In [32]:
# importing Test Train Split in Dataset
from sklearn.model_selection import train_test_split

In [33]:
# Independent Variables
x = df.loc[:, df.columns!='Sold']

In [34]:
x.head()

,price,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,parks,avg_dist,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River
0,24.0,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.19200,23,0.049347,4.0875,1,0,0,1
1,21.6,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.17280,42,0.046146,4.9675,0,1,0,0
2,34.7,37.07,0.469,7.185,61.1,22.2,4.03,7.394,46.19856,38,0.045764,4.9675,0,0,0,0
3,33.4,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.26720,45,0.047151,6.0650,1,1,0,0
4,36.2,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.28960,55,0.039474,6.0625,0,1,0,0

In [35]:
# Dependent variable
y = df['Sold']

In [36]:
y.head()

0    0
1    1
2    0
3    0
4    0
Name: Sold, dtype: int64

In [37]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=1)

In [38]:
print("x_train ", x_train.shape)

x_train  (404, 16)

In [39]:
print("x_test ", x_test.shape)

x_test  (102, 16)

In [40]:
print("y_train shape ", y_train.shape)

y_train shape  (404,)

In [41]:
print("y_test shape ", y_test.shape)

y_test shape  (102,)

In [42]:
# fitting the model to data
lm.fit(x_train, y_train)

LogisticRegression()

In [43]:
# prediction of dependent variable
y_test_pred = lm.predict(x_test)

In [44]:
print('y_test_pred', y_test_pred)

y_test_pred [1 1 0 0 0 0 1 1 0 1 0 1 1 1 1 0 1 0 1 0 1 1 1 1 1 0 0 0 0 0 0 0 0 1 1 0 1
 0 0 0 1 0 0 0 0 1 0 1 1 1 0 0 0 1 0 0 0 1 0 0 1 1 1 1 0 0 0 1 1 0 1 0 0 1
 0 0 0 1 1 0 0 1 1 1 0 1 1 1 0 0 1 0 0 0 1 1 1 1 0 0 1 1]

In [45]:
# accuracy and confusion matrix
from sklearn.metrics import accuracy_score, confusion_matrix

In [46]:
confusion_matrix(y_test, y_test_pred)

array([[35, 14],
       [18, 35]], dtype=int64)

In [47]:
accuracy_score(y_test, y_test_pred)

0.6862745098039216